<div class="site-content-wrapper">
    <div class="content-wrapper center">
        <form *ngIf="fogotPasswordForm" [formGroup]="fogotPasswordForm" style="background-color: rgb(181, 246, 196);padding: 10%;">
            <div>
                <label for="email">email:</label>
                <input type="text" id="email" formControlName="email">
                <div *ngIf="fogotPasswordForm.get('email')?.errors && fogotPasswordForm.get('email')?.touched">
                    <div *ngIf="fogotPasswordForm.get('email')?.hasError('required')" class="notValid">Email là bắt buộc
                    </div>
                    <div *ngIf="fogotPasswordForm.get('email')?.hasError('email')" class="notValid">Phải là dạng email
                    </div>
                    <div *ngIf="fogotPasswordForm.get('email')?.hasError('invalidEmail')" class="notValid">Email chỉ
                        được chứa
                        tiếng việt
                    </div>
                    <div *ngIf="!isEmailExist" class="notValid">Email không tồn tại</div>
                </div>
            </div>
            <button *ngIf="!isSendedRequest" (click)="sendFogotPasswordRequest()">Gửi yêu cầu cấp mật khẩu</button>
            <div *ngIf="isSendedRequest" style="margin-top: 40px;">
                <div>
                    <label for="newPassword">Mật khẩu mới:</label>
                    <input type="password" id="newPassword" formControlName="newPassword">
                    <div
                        *ngIf="fogotPasswordForm.get('newPassword')?.errors && fogotPasswordForm.get('newPassword')?.touched">
                        <div *ngIf="fogotPasswordForm.get('newPassword')?.hasError('required')" class="notValid">Mật khẩu
                            là bắt buộc</div>
                        <div *ngIf="fogotPasswordForm.get('newPassword')?.hasError('maxlength')" class="notValid">Mật khẩu
                            tối đa 30 ký tự
                        </div>
                        <div *ngIf="fogotPasswordForm.get('newPassword')?.hasError('minlength')" class="notValid">Mật khẩu
                            phải có ít nhất 6
                            ký tự</div>
                        <div *ngIf="fogotPasswordForm.get('newPassword')?.hasError('invalidpassword')" class="notValid">Mật
                            khẩu chỉ được
                            chứa
                            chữ
                            cái và số
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <label for="confirmNewpassword">Xác Nhận Mật khẩu mới:</label>
                    </div>
                    <input type="password" id="confirmNewpassword" formControlName="confirmNewpassword">
                    <div
                        *ngIf="fogotPasswordForm.get('confirmNewpassword')?.errors && fogotPasswordForm.get('confirmNewpassword')?.touched">
                        <div *ngIf="fogotPasswordForm.get('confirmNewpassword')?.hasError('required')" class="notValid">
                            Nhập lại mật khẩu là bắt
                            buộc
                        </div>
                        <div *ngIf="fogotPasswordForm.get('password')?.value !== fogotPasswordForm.get('confirmNewpassword')?.value"
                            class="notValid">Mật khẩu không trùng</div>
                    </div>
                </div>
            </div>
            <div>
                <button *ngIf="isSendedRequest" (click)="changePassword()">Đổi mật khẩu</button>
            </div>
        </form>
    </div>
</div>