<div class="site-content-wrapper">
    <div class="content-wrapper">
        <div class="sm-container">

            <!-- Profile Cover -->
            <div class="profile-cover">
                <div class="profile-cover-img-wrapper">
                    <img class="profile-cover-img" src="assets/static/img/user_banner.png" [alt]="fullname +'cover'">
                </div>
            </div>
            <!-- End Profile Cover -->

            <!-- User Profile Section -->
            <div class="mx-md-auto mb-3 text-center">
                <div class="profile-cover-avatar">

                    <img class="avatar-img" src="assets/static/img/user_icon.png" [alt]="fullname">

                    <a class="avatar-button text-dark" routerLink="/my-account/settings/">
                        <i class="avatar-icon fa fa-pencil"></i>
                    </a>
                </div>

                <h1 class="h3 profile-header-title">{{fullname}} <a
                        href="/u/an2572003/?public=1" class="btn btn-light btn-sm">Trang công khai</a></h1>

                <div class="profile-header-content">
                    <p></p>
                </div>
            </div>
            <!-- End User Profile Section -->

            <ul class="nav nav-tabs mb-4">
                <li class="nav-item">
                    <a class="nav-link active" href="/my-account/tests/">Kết quả luyện thi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/my-account/posts/">Posts</a>
                </li>
            </ul>


            <div class="mt-3">
                <a class="btn btn-block btn-round btn-sky" href="/tests/analytics/">
                    <span class="far fa-analytics mr-1"></span>
                    Tới trang thống kê kết quả luyện thi
                </a>
            </div>
            <br><br>

            <div class="user-test">
                <h2 class="h5" id="practice-set-2023-toeic-test-2">Practice Set 2023 TOEIC Test 2</h2>
                <div class="table-wrapper">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th style="min-width:150px">Ngày làm</th>
                                <th style="min-width:100px">Kết quả</th>
                                <th style="min-width:150px;">Thời gian làm bài</th>
                                <th style="min-width:150px;"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    19/05/2024
                                    <div>

                                        <span class="result-badge-practice">Luyện tập</span>

                                        <span class="result-badge-practice">Part 5</span>



                                    </div>
                                </td>
                                <td>
                                    0/30

                                </td>
                                <td>0:00:04</td>
                                <td><a href="/tests/4591/results/14581376/">
                                        Xem chi tiết</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <br>

            <div class="user-test">
                <h2 class="h5" id="practice-set-2023-toeic-test-10">Practice Set 2023 TOEIC Test 10</h2>
                <div class="table-wrapper">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th style="min-width:150px">Ngày làm</th>
                                <th style="min-width:100px">Kết quả</th>
                                <th style="min-width:150px;">Thời gian làm bài</th>
                                <th style="min-width:150px;"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    19/05/2024
                                    <div>

                                        <span class="result-badge-practice">Luyện tập</span>

                                        <span class="result-badge-practice">Part 5</span>



                                    </div>
                                </td>
                                <td>
                                    0/30

                                </td>
                                <td>0:00:04</td>
                                <td><a href="/tests/4599/results/14580968/">
                                        Xem chi tiết</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <br>

            <div class="user-test">
                <h2 class="h5" id="practice-set-2023-toeic-test-1">Practice Set 2023 TOEIC Test 1</h2>
                <div class="table-wrapper">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th style="min-width:150px">Ngày làm</th>
                                <th style="min-width:100px">Kết quả</th>
                                <th style="min-width:150px;">Thời gian làm bài</th>
                                <th style="min-width:150px;"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    11/05/2024
                                    <div>

                                        <span class="result-badge-full">Full test</span>


                                    </div>
                                </td>
                                <td>
                                    0/200

                                </td>
                                <td>0:00:07</td>
                                <td><a href="/tests/4590/results/14341775/">
                                        Xem chi tiết</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <br>

            <div class="user-test">
                <h2 class="h5" id="ielts-general-sample-reading-test-2">IELTS General Sample reading test 2</h2>
                <div class="table-wrapper">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th style="min-width:150px">Ngày làm</th>
                                <th style="min-width:100px">Kết quả</th>
                                <th style="min-width:150px;">Thời gian làm bài</th>
                                <th style="min-width:150px;"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    28/02/2024
                                    <div>

                                        <span class="result-badge-practice">Luyện tập</span>

                                        <span class="result-badge-practice">Section 3</span>



                                    </div>
                                </td>
                                <td>
                                    0/12

                                </td>
                                <td>0:00:04</td>
                                <td><a href="/tests/4690/results/12344797/">
                                        Xem chi tiết</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <br>

            <div class="user-test">
                <h2 class="h5" id="bc-ielts-writing-test-1">BC IELTS writing test 1</h2>
                <div class="table-wrapper">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th style="min-width:150px">Ngày làm</th>
                                <th style="min-width:100px">Kết quả</th>
                                <th style="min-width:150px;">Thời gian làm bài</th>
                                <th style="min-width:150px;"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    15/01/2024
                                    <div>

                                        <span class="result-badge-full">Full test</span>


                                    </div>
                                </td>
                                <td>
                                    1/2

                                    (Điểm: -)

                                </td>
                                <td>0:00:16</td>
                                <td><a href="/tests/1323/results/11491511/">
                                        Xem chi tiết</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <br>



            <nav class="jqpages">
                <div class="pagination">





                    <span class="page-item active">
                        <a class="page-link" href="?page=1">1</a>
                    </span>

                    <span class="page-item ">
                        <a class="page-link" href="?page=2">2</a>
                    </span>



                    <span class="page-item">
                        <a class="page-link" href="?page=2"><i class="fas fa-chevron-right"></i></a>
                    </span>

                </div>
            </nav>


        </div>


    </div>

</div>