<!-- Start of Navbar -->  
<div class="topnav1 topnav-wrapper">
    <div class="topnav-container">
      <nav class="navbar navbar-expand-lg">
        <span class="navbar-brand">
          <a class="topnav-brand" href="/home">
            <img class="topnav-logo" src="/assets/static/img/logo_full_sm.png" alt="STUDY4">
          </a>
        </span>
        <button class="navbar-toggler pull-xs-right d-lg-none" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          ☰    
        </button>
        <div class="d-lg-block navbar-collapse justify-content-end collapse" id="navbar-collapse" style>
          <ul class="nav">
            <li *ngIf="isLoggedIn && isAdmin" class="nav-item">
              <a class="nav-link" href="/my-account/courses/">Quản lý</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/tests" routerLinkActive="active" ariaCurrentWhenActive="page">Đề thi online</a>
            </li>
            <li *ngIf="!isLoggedIn" class="nav-item">
              <a class="btn btn-round btn-block btn-primary" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Đăng nhập</a>
            </li>

            <li *ngIf="isLoggedIn" class="nav-item user-topnav dropdown d-none d-lg-block">
              <a #dropdownToggle class="nav-link dropdown-toggle user-topnav-profile" role="button" 
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  (click)="toggleDropdown()">
                <span class="account-profile-img">
                  <img src="/assets/static/img/user_icon.png" alt="an2572003">
                </span>  
              </a>
              <div #dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <div>
                  <h6 class="dropdown-header" id="thông-báo"> Thông báo </h6>
                  <div id="new-notis-dropdown-content" class="jqhtml-loader dropdown-text" data-href="/notifications/newest/">
                    <p class="font-sm"> <i>Bạn chưa có thông báo mới.</i> </p>
                    <div class="mt-2 link font-sm">
                      <a href="/notifications/">Xem tất cả >></a>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/studyplan/">Lịch học của tôi</a>
                <a class="dropdown-item" href="/my-account/">Trang cá nhân</a>
                <a class="dropdown-item" href="/logout">Đăng xuất</a>
              </div>
            </li>
            <!-- Responsive -->
            <li class="nav-item d-lg-none">
              <a class="nav-link" href="/notifications/">Thông báo </a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link" href="/studyplan/">Lịch học của tôi</a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link" href="/my-account/">Trang cá nhân</a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link" href="/logout">Đăng xuất</a>
            </li>
            <!-- End of responsive -->
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- End of Navbar -->  