<div class="site-content-wrapper">
    <div class="content-wrapper">
        <div *ngIf="isLoggedIn" class="home-section sky-bg pt-3">
            <div class="container">
                <div>
                    <div class="home-section-top">
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <h1 class="text-primary" id="xin-chào,-an2572003">Xin chào, {{fullname}}!</h1>
                            </div>
                            <div class="col-sm-12 col-md-7"></div>
                        </div>
                    </div>
                    <br>
                </div>
                <h2 class="text-primary" id="lịch-học-hôm-nay">Lịch học hôm nay</h2>
                <p class="font-italic">Bạn không có lịch học hôm nay. Vui lòng vào 
                    <a href="/studyplan/">Lịch học của tôi</a> để xem thêm hoặc tạo mới.
                </p>
                <br>
                <h2 class="text-primary" id="kết-quả-luyện-thi-mới-nhất
                    ------------
                    ------------thống-kê-kết-quả-luyện-thi">
                    Kết quả luyện thi mới nhất
                    <a class="ml-1 btn btn-sm btn-outline-primary btn-round" href="/tests/analytics/">
                    <span class="far fa-analytics mr-1"></span>Thống kê kết quả luyện thi</a>
                </h2>
                <div class="row">
                    <!-- Start of Test Item-->
                    <div class="col-6 col-md-3">
                        <div class="contentblock mb-3">
                            <div>
                                <b>IELTS General Sample reading test 2</b>
                            </div>
                            <div>
                                <span class="result-badge-practice">Luyện tập</span>
                                <span class="result-badge-practice">Section 3</span>
                            </div>
                            <div>Ngày làm bài: 28/02/2024</div>
                            <div>Thời gian hoàn thành: 0:00:04</div>
                            <div>Kết quả: 0/12</div>
                            <br>
                            <div>
                                <a routerLink="/tests/4509">[Xem chi tiết]</a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Test Item-->
                    <!-- Start of Test Item-->
                    <div class="col-6 col-md-3">
                        <div class="contentblock mb-3">
                            <div>
                                <b>BC IELTS writing test 1</b>
                            </div>
                            <div>
                                <span class="result-badge-full">Full test</span>
                            </div>
                            <div>Ngày làm bài: 28/02/2024</div>
                            <div>Thời gian hoàn thành: 0:00:04</div>
                            <div>Kết quả: 1/12</div>
                            <div>Điểm: -</div>
                            <br>
                            <div>
                                <a href="/tests/4690/results/12344797/">[Xem chi tiết]</a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Test Item-->
                    <!-- Start of Test Item-->
                    <div class="col-6 col-md-3">
                        <div class="contentblock mb-3">
                            <div>
                                <b>Practice Set TOEIC 2022 Test 2</b>
                            </div>
                            <div>
                                <span class="result-badge-full">Full test</span>
                            </div>
                            <div>Ngày làm bài: 28/02/2024</div>
                            <div>Thời gian hoàn thành: 0:00:04</div>
                            <div>Kết quả: 89/200</div>
                            <div>Điểm: 460</div>
                            <br>
                            <div>
                                <a href="/tests/4690/results/12344797/">[Xem chi tiết]</a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Test Item-->
                </div>
                <a href="/my-account/tests/">Xem tất cả &gt;&gt;</a>
                <br>
            </div>
        </div>
        
        <div class="home-section">
            <div class="container">
                <h2 class="home-h2" id="đề-thi-mới-nhất">Đề thi mới nhất</h2>
                <div class="home-tests">
                    <div class="testitem-grid row ">
                        <!-- Start of Test Item-->
                        <div class="col-6 col-md-3">
                            <div class="testitem-wrapper gray-bg">
                                <a class="text-dark" href="/tests/2010/ielts-simulation-listening-test-1/">
                                    <h2 class="testitem-title" id="ielts-simulation-listening-test-1">
                                        IELTS Simulation Listening test 1
                                    </h2>
                                    <div class="testitem-info-wrapper">
                                        <div>
                                            <span class="testitem-info">
                                                <span class="far fa-clock mr-1"></span>40 phút | 
                                                <span class="far fa-user-edit mr-1"></span>262872 | 
                                                <span class="far fa-comments mr-1"></span>890
                                            </span>
                                        </div>
                                        <div>
                                            <span class="testitem-info">
                                                4 phần thi | 40 câu hỏi
                                            </span>
                                        </div>
                                    </div>
                                    <div class="testitem-tags mt-2">
                                        <span class="tag">IELTS Academic</span>
                                        <span class="tag">Listening</span>
                                    </div>
                                    <br>
                                </a>
                                <div class="testitem-start-test">
                                    <a class="text-dark" href="/tests/2010/ielts-simulation-listening-test-1/"></a>
                                    <a href="/tests/2010/ielts-simulation-listening-test-1/" class="btn btn-block btn-outline-primary">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <!-- End of Test Item-->
                        <!-- Start of Test Item-->
                        <div class="col-6 col-md-3">
                            <div class="testitem-wrapper gray-bg">
                                <a class="text-dark" href="/tests/2010/ielts-simulation-listening-test-1/">
                                    <h2 class="testitem-title" id="ielts-simulation-listening-test-1">
                                        IELTS Simulation Listening test 1
                                    </h2>
                                    <div class="testitem-info-wrapper">
                                        <div>
                                            <span class="testitem-info">
                                                <span class="far fa-clock mr-1"></span>40 phút | 
                                                <span class="far fa-user-edit mr-1"></span>262872 | 
                                                <span class="far fa-comments mr-1"></span>890
                                            </span>
                                        </div>
                                        <div>
                                            <span class="testitem-info">
                                                4 phần thi | 40 câu hỏi
                                            </span>
                                        </div>
                                    </div>
                                    <div class="testitem-tags mt-2">
                                        <span class="tag">IELTS Academic</span>
                                        <span class="tag">Listening</span>
                                    </div>
                                    <br>
                                </a>
                                <div class="testitem-start-test">
                                    <a class="text-dark" href="/tests/2010/ielts-simulation-listening-test-1/"></a>
                                    <a href="/tests/2010/ielts-simulation-listening-test-1/" class="btn btn-block btn-outline-primary">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <!-- End of Test Item-->
                        <!-- Start of Test Item-->
                        <div class="col-6 col-md-3">
                            <div class="testitem-wrapper gray-bg">
                                <a class="text-dark" href="/tests/2010/ielts-simulation-listening-test-1/">
                                    <h2 class="testitem-title" id="ielts-simulation-listening-test-1">
                                        IELTS Simulation Listening test 1
                                    </h2>
                                    <div class="testitem-info-wrapper">
                                        <div>
                                            <span class="testitem-info">
                                                <span class="far fa-clock mr-1"></span>40 phút | 
                                                <span class="far fa-user-edit mr-1"></span>262872 | 
                                                <span class="far fa-comments mr-1"></span>890
                                            </span>
                                        </div>
                                        <div>
                                            <span class="testitem-info">
                                                4 phần thi | 40 câu hỏi
                                            </span>
                                        </div>
                                    </div>
                                    <div class="testitem-tags mt-2">
                                        <span class="tag">IELTS Academic</span>
                                        <span class="tag">Listening</span>
                                    </div>
                                    <br>
                                </a>
                                <div class="testitem-start-test">
                                    <a class="text-dark" href="/tests/2010/ielts-simulation-listening-test-1/"></a>
                                    <a href="/tests/2010/ielts-simulation-listening-test-1/" class="btn btn-block btn-outline-primary">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <!-- End of Test Item-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>